		body
		{font-family: 'Palatino', serif;
		 font-size: 15px;
		 color: black;
		 background: white;
		 margin:auto;
		 width: 900px;}
		

		#header
		{padding-top: 20px;
		 padding-bottom: 20px;
		 margin: auto;
	   width:900px;
		 border: none;
		 background-color: white;
		 color: black;
	   position: static;
		 text-align: center;
		 font-size:30px;}
		 
    #header a {
    color: black;
    border:none;
    outline: none;
		text-decoration: none;
		cursor: pointer;
    }
    
    #header h1{
     text-align:center;
     padding:0;
     margin:0;
    }
    
    .clearfix:after {
    content: "";
    display: table;
    clear: both;
    }

		.row:after{
		content:"";
		display: table;
		clear: both;}
		
		.left-column{
		width: 242px;
		float:left;
		font-size: 0.85em;
		}
		
		.right-column{
		margin-left: 50px;
		width:607px;
		float: left;}

		.entry{
		padding:10px;
		margin-top:20px;
		}

		.left-column p{
		text-align:left;
		}

		.right-entry{
		padding:10px;
		margin-top:20px;
		}

		.navbar{
		overflow: hidden;
		background-color: white;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		}

		.navbar a {
		float: left;
		display: block;
		color: black;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		border:none;
		}


		.navbar .active{
		background-color: #b3d4ff;
		color: #FF6501;
		border:none;
		}

		.navbar a:hover{
		background-color: #b3d4ff;
		color: #FF6501;
		border:none;
		}

		.table{
		display:table;
		margin: 0 auto;
		}

		#footer
		{margin:auto;
		margin-top: 30px;
		padding-top: 20px;
		padding-bottom:10px;
		width:900px;
		text-align:center;
		border-top: 2px solid black;
		/*position: absolute;*/
		}

		img{
		float: right;
		padding-left:30px;
		margin-bottom: 1em;
		}
		
		p
		{margin: 0px;
		 padding-left: 0;
		 text-align: justify;
		 margin-bottom: 1em;
		 }

		h1, h2
		{font-weight: bold;
		 color: #333333;
		 margin:0;
		 margin-bottom: 0.5em;}

		h1
		{font-size: 130%;
		 letter-spacing: 0;
		 text-align: left;}
		 
		h2
		{font-size: 115%;
		 letter-spacing: 0;
		 text-align: left;}

		a, a:hover
		{border-bottom: 1px dotted;
		 color: #5E5E5E;
		 outline: none;
		 text-decoration: none;
		 cursor: pointer;
		}

    .tease 
    {color: #FF6501;
    }
    
    a.tease:hover{
    color: #FF6501;
    }

		a:hover
		{border-bottom: 1px solid;}

		ul 
		{margin: 0; 
		padding: 0;
		list-style:none;}

		ul li 
		{margin: 0 0 6px 0;
		 padding: 0;}


		ul li a 
		{color: #5E5E5E;
		 border-bottom: 1px dotted;}

		ul li a:hover
		{border-bottom: 1px;
		 cursor: pointer;}


		ul li div 
		{display: none;}
		
		sup
		{vertical-align:super; line-height:0.5em;}
